<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <h5 class="footer-title">About Modern Blog</h5>
                <p>We share insights, trends, and stories about web design, development, and digital creativity for modern professionals.</p>
                <div class="social-link mt-3">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
                <h5 class="footer-title">Links</h5>
                <ul class="footer-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-2 mb-4 mb-md-0 col-md-4">
                <h5 class="footer-title">Categories</h5>
                <ul class="footer-links">
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Development</a></li>
                    <li><a href="#">Trends</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4">
                <h5 class="footer-title">Newsletter</h5>
                <p>Subcribe to our newsletter to get our latest update directly in your inbox </p>
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Your email">
                    <button class="btn btn-primary" type="button">Subscribe</button>
        
                </div>
            </div>
        </div>
        <div class="copyright">
          <p>&copy; <%= new Date().getFullYear() %> Modern blog. All right reserve</p>
        </div>
    </div>
</footer>









<!-- Bootstrap JS Bundle with Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<!-- Custom JS -->
 <script src="/js/index.js"></script>
</body>
</html>